<html>
<head>
    <link href="style.css" rel="stylesheet"/>
    <script src="client.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
</head>
<body>
    <div class="inset">
    <div class="menuHeading">
        <h1><img class="headerIcon" src="http://icons.iconarchive.com/icons/flyinghearts/christmas/256/santa-icon.png">
Secret Santa
<img src="http://icons.iconarchive.com/icons/flyinghearts/christmas/256/santa-icon.png" class="headerIcon" ></h1>
    </div>
    <div class="container">
        <div class="menuItem">
            <h3> Groups </h3>
            <p>Your are a member of the following groups</p>
            {{#each group}}
                <div class="varyingItem">
                    <div class="centerWrapper">
                        <form method="post" action="update-list">
                            <h4
                            ><i>{{NAME}}</i></h4>
                            List:<br><textarea class="itemList" name="list"
                            >{{WLST}}</textarea>
                            <br>
                            <button type="submit"
                            >Update
                            </button>
                            <input name="ugid" value="{{UGID}}" type="hidden">
                            <p>
                            {{#if postDraw}}
                            Santa for:<i>{{SOF}}</i>
                            {{else}}
                            Draw date <i id="TTD">{{EXP}}</i>
                                <script>
                                    initialTime = {{EXP}};
                                    a = setInterval(() => {
                                        newTime = initialTime - new Date();
                                        document.querySelector("#TTD").innerText = newTime; 
                                        if(Math.abs(newTime)<2000)
                                            location.reload(true);
                                    },1000)
                                </script>
                            {{/if}}
                            </p>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
        <div class=""><div class="menuItem rightAlign">By Digby Emmett</div></div>
    </div>
</body>
</html>
