<html>
<head>
    <link href="style.css" rel="stylesheet"/>
    <script src="client.js"></script>
</head>
<body>
    <div class="inset">
    <div class="menuHeading">
        <h1><img class="headerIcon" src="http://icons.iconarchive.com/icons/flyinghearts/christmas/256/santa-icon.png">Secret Santa<img src="http://icons.iconarchive.com/icons/flyinghearts/christmas/256/santa-icon.png" class="headerIcon" ></h1>
    </div>
    <div class="container">
        <div class="menuItem">
            <h3>Description</h3>
            <p>This app allows for users to create and manage groups which
               are buying gifts for each other. This system avoids flaws in
               traditional draw based systems which occur when a single  person is
               missing. The result of these flaws is either one person buying a gift
               for them self or another person knowing whos gift is whos. 
            </p>
            <p>To use this system simply put the group name and memebers in on
            the right then select a expirey date and time. the users will be emailed
            links with their passwords. Thery can then edit their wishlist
            specifying the items which they would like. Once this is done the user
            can save the wishlist and wait for the deadline date. past this date
            no modifications can be made to the lists unless special arrangments
            are made</p>
        </div>
        <div class="menuItem">
            <h3>Create A Group</h3>
        
            <p>To Create a new group enter each participants information here
            one line after another in the following format:<br><br>
            </p>
            <form method="POST" action="create-group">
                <div>
                <h4>Group Details</h3>
                <input class="dataEntry" name="name" placeholder="Group Name">
                <input name="date" type="date">
                <input name="time" type="time">
                <input name="deadline" pattern="\d+" type="number" placeholder="Days before draw">
                <h4>Members</h3>
                <fieldset id="groupItem">
                    <input placeholder="Name" class="dataEntry" name="users[name]"></input>
                    <input placeholder="Email" class="dataEntry" name="users[email]"></input>
                </fieldset>
                </div>
                <button form="" onclick="addUser()">Add User</button>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
        <div class="menuItem">
            <h3>Login</h3>

            <p>To login enter your email and password. 
            Login will allow you to access your groups requests</p> 
            <form method="post" action="login">
                <input type="email" placeholder="Email" class="dataEntry"
                    name="EMAIL">
                <input type="password" placeholder="Password" class="dataEntry"
                    name="PASS">
                <BUTTON type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
        <div class=""><div class="menuItem rightAlign">By Digby Emmett</div></div>
    </div>
</body>
</html>
