.Heading * {
    padding:0;
    margin:0;
}
body {
    background: url(https://reuter.on.ca/wp-content/uploads/2015/10/white-seamless-background-free-vector-145.jpg) repeat
}
.menuHeading {
width:100%;
text-align:center;
}
.container {
display:flex;
flex-direction:colunm;
}
.menuItem {
    width:30%; 
    padding:30px;
    background: rgba(0.3,0.3,0,0.4);
}
.dataEntry {
min-width:100%;
max-width:100%;
}
.headerIcon {
width:45px;
}
.inset {
width:80%;
margin:auto auto;
}
.rightAlign {
float:right;
}
.varyingItem {
    text-align:center;
}
.centerWrapper {
    display:inline-block;
    margin:auto  auto;
    text-align:left;
}
.varyingItem:nth-child(odd){
    background-color:rgba(245,245,245,0.5)
}
.varyingItem:nth-child(even){
    background-color:rgba(245,245,245,0.2)
}
.itemList {
    height:10em;
    width:100%;
}
